.navbar {
  background-color: #ffffff; /* Coral color */
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  color: #111111; /* White color */
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  width:10px;

}


.navbar-toggler {
  display: none; /* Hide by default */
  background: none;
  border: none;
  color: #111111; /* White color */
  font-size: 2rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 1.2rem;
}

.navbar-link {
  color: #111111; /* White color */
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.navbar-link:hover {
  background-color: #ffa07a; /* Light Salmon color */
  color: #000000; /* Black color */
}

.navbar-icon {
  margin-right: 0.5rem;
  font-size: 2rem; /* Adjusted size */

}

.navbar-icon2{
  margin-right: 0.5rem;
  font-size: 1.5rem; /* Adjusted size */
  width: 150px;
  height: 70px;

}
/* Mobile styles */
@media screen and (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    display: none;
    width: 100%;
    text-align: center;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-item {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .navbar-toggler {
    display: block;
  }
}
