.navbar {
    background-color: #33333300;
    padding: 1.2rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    color: #00ddfa;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-left: 1.2rem;
    position: relative;
  }
  
  .navbar-link {
    color: #00ddfa; /* Default color */
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  }
  
  /* Hover effect for the entire link */
  .navbar-link:hover {
    color: #00ffea; /* Shiny effect color */
  }
  
  /* Icon styling */
  .navbar-icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transitions */
  }
  
  /* Apply the hover effect to the icon */
  .navbar-link:hover .navbar-icon {
    color: #00ffea; /* Shiny effect color */
    transform: scale(1.2); /* Pop effect */
    text-shadow: 0 0 5px rgba(0, 217, 255, 0.8); /* Glow effect */
  }
  
  /* Logo hover effect */
  .navbar-logo {
    color: #00ddfa; /* Default color */
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transitions */
  }
  
  .navbar-logo:hover {
    color: #00ffea; /* Shiny effect color */
    transform: scale(1.2); /* Pop effect */
    text-shadow: 0 0 5px rgba(0, 217, 255, 0.8); /* Glow effect */
  }
  
  .navbar-toggler {
    display: none; /* Hide by default */
    background: none;
    border: none;
    color: #00ddfa;
    font-size: 2rem;
  }
  
  /* Mobile styles */
  @media screen and (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      display: none;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-toggler {
      display: block;
    }
  }